@import '../abstract/variables';

.top-section {
    height: 25vh;
    @include centered();
    .top-icons {
        @include centered();
        flex-direction: row;
        width: 100%;
        .menu-bars {
            position: relative;
            margin: 12vh 50vw 5vh 5vw;
            width: 30px;
            cursor: pointer;
            &:hover {
                background-color: #F3F1F1;
                transition: 240ms ease-in-out;
            }
        }
        .my-basket {
            position: relative;
            width: 100px;
            margin-top: 5vh;
            cursor: pointer;
            &:hover {
                background-color: #F3F1F1;
                transition: 240ms ease-in-out;
            }
        }
    }
}

.text-section {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    p {
        margin-bottom: 5vh;
        font-size: $textFontSize*0.8;
        span {
            font-weight: bold;
        }
    }
    .search-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
            background-color: #F3F1F1;
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: 5%;
            width: 60vw;
            padding: 15px;
            padding-left: 5vw;
            outline: none;
            border: none;
            border-radius: 15px;
            margin-right: 1vw;
            position: relative;
            font-family: $mainFont;
            &:hover, &:focus {
                background-color: lightgray;
                transition: 240ms ease-in-out;
            }
        }
        #search-icon {
            position: absolute;
            margin-left: 2vw;
        }
        #filter-icon {
            position: relative;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: #F3F1F1;
                transition: 240ms ease-in-out
            }
        }
    }    
}

.recommended-section {
    @include centered();
    width: 100%;
    .recommended-title {
        width: 100%;
        text-align: center;
        h1 {
            font-weight: bold;
            font-size: $textFontSize;
            margin-top: 10vh;
            margin-bottom: 3vh;
        }
    }
}

.combo-cards {
    @include centered();
    flex-direction: row;
    .card {
        @include centered();
        width: 15vw;
        height: 35vh;
        border-radius: 20px;
        padding: 10px;
        margin: 5vh 3vw;
        box-shadow: 0 30px 30px #F3F1F1;
        cursor: pointer;
        &:hover {
            background: #F3F1F1;
            transition: 0.5s;
        }
        .sm-icon{
            width: 20px;
            &:first-child {
                align-self: flex-end;
                margin-right: 0.7vw;
                margin-top: 0.7vh;
                margin-bottom: 0.7vh;
            }
            &:last-child {
                width: 25px;
            }
        }
        .n-money {
            width: 15px;
        }
        p {
            font-weight: bold;
        }
        .card-image {
            width: 90px;
            margin: 1vh auto;
        }
        .card-bottom {
            margin-top: 3vh;
            display: flex;
            align-items: center;
            flex-direction: row;
            #price {
                color: $primaryColor;
            }
        }
    }
    .quinoa-fruit {
        background-color: #ffeddc;
        &:hover {
            background-color: #fce0c6;
        }
    }
    .tropical-fruit {
        background-color: #FEF0F0;
        .sm-icon {
            &:first-child {
                margin-bottom: 2vh;
            }
        }
        &:hover {
            background-color: #ffdbdb;
        }
    }
    .melon-fruit {
        background-color: #F3F1F1;
        &:hover {
            background-color: #d8d5d5;
        }
    }
    .tropical-fruit, .melon-fruit {
        p {
            margin-bottom: 1vh;
        }
        #price {
            margin-top: 2vh;
        }
    }
}

.hottest-cards {
    @include centered();
    .hottest-titles {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        h1, h2 {
            font-weight: bold;
            margin: 5vh 8vw;
        }
        h1{
            font-size: $textFontSize;
            cursor: pointer;
            border-bottom: 4px solid;
            padding-bottom: 5px;
            border-image: linear-gradient(to right, $primaryColor 35%, transparent 35%) 100% 1;
        }
        h2 {
            font-size: $textFontSize*0.9;
            opacity: 0.6;
            cursor: pointer;
            &:hover {
                opacity: 1;
                font-size: $textFontSize;
                border-bottom: 4px solid;
                padding-bottom: 5px;
                border-image: linear-gradient(to right, $primaryColor 35%, transparent 35%) 100% 1;
                transition: 360ms;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .top-section {
        .top-icons {
            .menu-bars {
                width: 30px;
                align-self: flex-start;
                margin-right: 65vw;
            }
            .my-basket {
                width: 50px;
                margin-right: 5vw;
            }
        }
    }

    .text-section {
        width: 70%;
        align-self: flex-start;
        flex-direction: column;
        p {
            margin-left: 8vw;
            margin-bottom: 0;
            line-height: 4vh;
        }
        .search-input {
            input {
                width: 73vw;
                padding-left: 12vw;
                margin-top: 2vh;
                margin-left: 32vw;
            }
            #search-icon {
                margin-top: 1vh;
                margin-left: 37vw;
            }
            #filter-icon {
                margin-top: 2vh;
                margin-left: 2vw;
            }
        }
    }

    .recommended-section {
        .recommended-title {
            text-align: left;
            h1 {
                font-size: 1.1rem;
                margin-left: 8vw;
            }
        }
    }

    .combo-cards {
        .card {
            width: 35vw;
            height: 22vh;
            margin: 0 5vw 0 5vw;
            .n-money {
                margin-bottom: 0.7vh;
            }
            .sm-icon {
                width: 15px;
                &:first-child {
                    margin-top: 2vh;
                }
                &:last-child {
                    width: 20px;
                    margin: 0 0 1vh 0;
                }
            }
            p {
                font-size: 0.7rem;
                margin: 0 0 1vh 0;
            }
            .card-image {
                margin: 0 0 1vh 0;
                width: 70px;
            }
            .card-bottom {
                margin: 0;
                #price {
                    margin: 0 9vw 1vh 0;
                }
            }            
        }
        .quinoa-fruit {
            margin-left: 33vw;
        }
        .tropical-fruit, .melon-fruit {
            .card-image {
                width: 100px;
                margin-bottom: 2vh;
            }
        }
    }

    .hottest-cards {
        .hottest-titles {
            width: 100%;
            justify-content: center;
            align-items: baseline;
            h1 {
                font-size: 1.1rem;
            }
            h2 {
                font-size: 0.8rem;
                &:hover {
                    font-size: 1.1rem;
                }
            }
            h1, h2 {
                margin: 7vh 6vw 2vh 5vw;
            }
        }

        .combo-cards {
            .card {
                margin: 0 7vw 0 0;
            }
            .quinoa-fruit {
                margin-left: 37vw;
            }
        }
    }
}